html {
    margin: 0;
}

body {
    margin: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;  /*wywala pasek przeiwjania - w onecie dać auto, żeby dodał pasek i nie wkurzał a adblokiem*/
}

.sky { 
	background-color: darkblue;
	height: 33vh;
	width:100%;
}
.grass {
	background-color: darkgreen;
	height: 33vh;
	width: 100%;
}

.road { 
	border-top: 10px solid lightgray;
	border-bottom: 10px solid lightgray;
	height: calc(33vh - 20px);
	width: 100%;
	background-color: gray;
	position: relative;
}

.road img {
	position: 10%;
	top: 20px;
	height: 70px;
	width: 70px;
	animation-name: jazda;
	animation-duration: 3000ms;  /*czas trwania jazdy */
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	/* animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); */

}

.line { 
	position: absolute;
	border-bottom: 10px dashed #FFF;
	top: 50%;
	width: 100%;
}

@keyframes jazda {   /*jedziemy*/    /*@keyframes jump */
	from {
	   /* transform: rotateY(90deg);  */
	   transform: translateX(10%);   /*przesuwanie obiektu wzgl osi xyz*/
	  
	}

    /* 90% { */
		/*transform: translateX(90vw); */
		/* transform: rotateX(90deg); */
		/* transform: rotateY(90deg); */
		/* po 50% ma się wykonać instrunkcja */
		/* transform: rotateY(90deg);  */
	/* }  */

	95% {
		transform: translateX(95vw);   /*75 drogi ekranu*/
	
	}
}

/* @keyframes jazda {  
	0% {
	   	top:  25px;
  
	}

    50% {

		top:  -60px;

	} 

	100% {
	 top 20px; 
	}
} */

@media(max-width: 600px) { /*jak rozdzielczość wzrośnie powyzej 600px, to height ustawiamy jak nizej*/
    /* min-width: 600px) {   jak rozdzielczość wzrośnie powyzej 600px, to height ustawiamy jak nizej */
	.sky {
		height: 13vh;   /*13% wysokości*/
	}
}
