html {
    background-color:#004643;
    padding: 10px;
}

body {
    background-color: #f9bc60;
    padding: 10px;
    margin: 0;
}

a:visited {   /*kolor odwiedzonego linka*/

    color: yellow;
}

.parent div:hover {
    background-color: lime;
}


/*flexbox*/
.parent div:nth-child(even) {  /*event, odd , koloruje co drugi, n - co enty  2n + 1 - co któryśtam*/
             /* nth-of-type() też taki shit jest  */
    
    position: sticky; /*elementy schodzą się w harmonijkę */
    top: 10;background-color: chartreuse;
     
}




.parent {
    height: 1000px;
    background-color: #e8e4e6;
    margin: 10px;
    padding: 30px;
    flex-direction: row;
    /* justify-content: flex-end; */
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
}

.div1 {
    background-color: #e16162;
    margin: 5px;
    order: 3;
    /* flex: 0 1 auto; */
    flex-shrink: 1;
    flex-grow: 1; 
    /* flex-basis: ; */
    /* flex-wrap: wrap; zawijanie */
}

.div2 {
    background-color: #e16162;
    margin: 5px;
    width: 150px;
    font-size: 30px;
    order: 1;
    flex-grow: 1 0 auto;
    /* flex-shrink: 2;   elementy się kurczą */
}

.div3 {
    background-color: #e16162;
    margin: 5px;
    height: 150px;
}

.div4 {
    background-color: #e16162;
    margin: 5px;
    width: 150px;
    height: 150px;         
}

.div5 {
    background-color: #e16162;
    margin: 5px;
    width: 200px;           
}

.div6 {
    background-color: #e16162;
    margin: 5px;
    width: 200px;
}