p {
    background-color: rgb(0, 255, 98);  
    color: rgb(187, 110, 10);
    text-transform: uppercase;
    opacity: 1;
}
Inna zmiana
ScndBarch -zmiana1
ScndBarch -zmiana2
    .blue-background {
       background-color: blue; 
    }

    .red-text {
        color: red;
    }

    .green-text {
        color: green;
    }

    #header {
        font-size: 38px;
    }


