/* p {
    background-color: rgb(0, 255, 98);  
    color: rgb(187, 110, 10);
    text-transform: uppercase;
    opacity: 1;
}

    .blue-background {
       background-color: blue; 
    }

    .red-text {
        color: red;
    }

    .green-text {
        color: green;
    }

    #header {
        font-size: 38px;
    } */

    .wrapper .title {
        background-color: green;

   }    

   /* strzałka - dot. bezpośtrdniego dziecka
   bez strzałki dowolny potomek */

    /* .wrapper  > .title {
        background-color: blue;

   }    

   div#header.pierwsza-klasa.duga
   > .inna-klasa .jeszcze inniejsza-klasa
   > .inna-klasa .jeszcze inniejsza-klasa
   > .inna-klasa .jeszcze inniejsza-klasa
   > .inna-klasa .jeszcze inniejsza-klasa

   
h1.title {
    background-color: red;
}
p.text {
    background-color: brown;
} */

/* na samej górze to , bo inaczej bedzie robił padding poza ramką*/
/* * {
     box-sizing: border-box;

} */
/* h1,h2,h3,h4,h5
{
    box-sizing: border-box;

} 
ale lepiej tak: */

*, *::before, *::after
{
    box-sizing: border-box;

} 

.shape {
    border-radius: 30px;
    background-color: lightblue;  
    height: 250px;
    width: 500px;
    /* border: 5pt #00222f solid; */
    border-width: 5pt;
    border-color: #00222f; 
    border-style: double;   
    /* groove dashed; */
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 100px; */
    margin: 5px 100px 20px 300px;
      /* padding i margin tak samo od góry, wg wskazówek zegara */
    padding: 30px 50px;
    
}

.shape1 {
    border-radius: 20px;
    background-color: #00222f;  
    height: 160px;
    width: 380px;
    border-width: 5pt;
    border-color: white; 
    border-style: dashed;
    margin: 10px auto;
    padding: auto;

}

.shape p {
    margin: 0;
    background-color: blue;
    
}