body {
    margin: 0;
}

.container {
    max-width: 1200px; /* tekst na stronie dobrze się czyta jeśli jest na przestrzeni max 1200px */
    padding: 0 15px;   /* można to zrobić też tak */
    margin: 0 auto;
}

.flex-wrapper {        /*patrz stronka flexbox, PATRZ: flexboxfroggy.com!!!!!!!!*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;  /*praca na osi y (zmiana osi dla justify-content) (domyślnie jest row)*/
    /* Oś związana z kierunkiem wyświetlania elementów */
    /* justify-content: center; */
    /* justify-content: space-around; <-przydziela przestrzeń każdemu elementowi i dzieli po równo miedzy nie (nie jest zbyt przydatny) */
    /* tekst na stronie dobrze się czyta jeśli jest na przestrzeni max 1200px /* można to zrobić też tak jak przy .comtainer */
    justify-content: space-between;
    /* Oś odwrotna do kierunku wyświetlania elementów */
    align-items: center;
}

/*ciekawostka, która może być przydatna!! display grid - tworzy siatkę x*y i dzieli ją na obszary rówżnej wielkości i umożliwia manipulację nimi 
  PATRZ: css-tricks.com*/

.flex-wrapper .flex-item {
    height: 100px;
    width: 22%;
    margin: 30px 0;
    background-color: blue;
    
}