/* p {
    background-color: rgb(0, 255, 98);  
    color: rgb(187, 110, 10);
    text-transform: uppercase;
    opacity: 1;
}

    .blue-background {
       background-color: blue; 
    }

    .red-text {
        color: red;
    }

    .green-text {
        color: green;
    }

    #header {
        font-size: 38px;
    } */

    .wrapper .title {
        background-color: green;

   }    

   /* strzałka - dot. bezpośtrdniego dziecka
   bez strzałki dowolny potomek */

    .wrapper  > .title {
        background-color: blue;

   }    

   div#header.pierwsza-klasa.duga
   > .inna-klasa .jeszcze inniejsza-klasa
   > .inna-klasa .jeszcze inniejsza-klasa
   > .inna-klasa .jeszcze inniejsza-klasa
   > .inna-klasa .jeszcze inniejsza-klasa

   
h1.title {
    background-color: red;
}
p.text {
    background-color: brown;
}