*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 123px;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: #fff;
}

header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header .header-wrapper a img {
    height: 80px;
}

header .header-wrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}


header .header-wrapper nav > ul li:hover .inner-menu{
	opacity: 1;
	height: 100px;
	visibility: visible;
}

header .header-wrapper nav .inner-menu {
    list-style-type: none;
    margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
    background-color: #000;
    color: white;
    width: 125px;
    
	opacity: 0; /*całkiem przezroczysty*/
	position: absolute;
	visibility: hidden;
	transition: opacity 1000ms linear;
}


header .header-wrapper ul li {
    margin-left: 40px;
}

header .header-wrapper ul li a {
    font-size: 18pt;
    line-height: 46pt;
    font-weight: 300;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}

section#banner {
    width: 100%;
    height: 555px;
    background-image: url('assets/images/baner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

section#banner::before,
section#banner::after {
    content: "";
    width: 50%;
    height: 10px;
    background-color: #000;
    display: block;
    position: absolute;
}

section#banner::before {
    right: 0;
    top: 0; 
}

section#banner::after {
    left: 0;
    bottom: 0;
}

section.content-section {
    padding: 135px 0 100px;
}

section h1 {
    font-size: 90pt;
    line-height: 90pt;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
}

section h1::after,
section h2::after {
    content: "";
    height: 2px;
    width: 100px;
    display: block;
    background-color: #000;
    margin: 80px 0 100px;
} 

section p {
    font-size: 24pt;
    line-height: 46pt;
    font-weight: 300;
    margin: 0 0 65px;
}

section#about p:last-child {
    margin-bottom: 0;
}

section#quote {
    width: 100%; 
    background-image: url('assets/images/cytat.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 130px 30px 70px;
}

section#quote h3,
section#quote h4,
section#quote h5 {
    font-style: italic;
    font-weight: 300;
    margin: 0;
}

section#quote h3 {
    font-size: 36pt;
    line-height: 46pt;
}

section#quote h4 {
    font-size: 24pt;
    line-height: 46pt;
}

section#quote h5 {
    font-size: 18pt;
    line-height: 46pt;
    margin: 20px 0 0;
} 

.position-test-parent {
    margin: 30px auto;
    border: 1px solid red;
    height: 200px; 
    padding: 30px;
    display: flex;
} 

.gallery-wrapper {
    display: flex;
    justify-content: space-between;
}

.gallery-wrapper .gallery-item{

    border-radius: 20px;
    color: white;
    font-size: 48pt;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.gallery-wrapper .gallery-item:first-child{
    background-image: url('./assets/images/2016.jpg');
}
.gallery-wrapper .gallery-item:nth-child{
    background-image: url('./assets/images/2017.jpg');
}
.gallery-wrapper .gallery-item:last-child{
    background-image: url('./assets/images/2018.jpg');
}

.numeric-list {
    font-size: 24px;
    line-height: 70px;
    font-weight: 300;
}

