html {
    background-color:#004643;
    padding: 10px;
}

body {
    background-color: #f9bc60;
    padding: 10px;
	margin: 0;
	height: 3000px;
}

.box {
	height: 100px;
	width: 300px;
	background-color: red;

	transition-duration: 250ms;  /* duration - w sekundach - trwanie właściwości */
	transition-property: all;   /*przekształcam  szerokość*/
	                               /* width - szerokość,  all - może wkurwiać*/
                                  /*metoda archaiczna, ale najszybsza*/
	transition-property: width;
	transition-delay: 1000ms;
	transition: 1000ms 1500ms width cubic-bezier(0.075, 0.82, 0.165, 1);

	}
.box:first-child { 
	transition-timing-function: linear;  /*finkcja używana podczas wykonywania animacji ROWNO*/

		 /* cubic-bezier(0, 0.07, 1,,-0,21) -jest takie narżedzie grtaficzne, które to generuje i można tu wstawić
			prawy przycie - izbadaj element
			lub f12
		   */
}
.box:nth-child(2) { 
	transition-timing-function: ease-in; /*najpierw powoli [potem szybko*/
}
.box:nth-child(3) { 
	transition-timing-function: ease-out; /*najpierw szybko, potem powoli*/
}
.box:nth-child(4) { 
	transition-timing-function: ease-in-out; /*wolno szybko wolno*/
}

body:hover .box {   /*jak najadę myszą na body rozszerzasię (hover-ma się coś dziać)*/
	width: 600px;   /*powiększa się*/
}
/*transition można rozbić na  miniejsze właściwości*/
